@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Poppins', sans-serif;
}
html{
    scroll-behavior: smooth;
}

.title{
    margin-top: 20px;
    margin-left: 40px;
    font-size: 35px;
    color: rgb(39, 0, 124);
}
.span{
    font-size: 26px;
    color: black;
}
.imgl{
    width: 900px;
    margin-left: 500px;
    margin-top:-120px ;
}
.img2{
    display: none;
}
.para{
    font-size: 30px;
    font-weight: 400;
    margin-right: -300px;
    padding-left: 50px;
    padding-top: 100px;
    margin-bottom: 100px;
    max-width: 40%;
    
}
.see{
    position: absolute;
    width: 165px;
    height: 50px;
    left: 64px;
    top: 340px;
    background: #7B04F1;
    box-shadow: 0px 0px 54px 17px rgba(128, 0, 255, 0.22), inset 0px 0px 24px 16px rgba(184, 114, 255, 0.59);
    border-radius: 34px;
    

}
li a{
    text-decoration: none;
    
}
li{
    list-style: none;
}
.more{

    position: relative;
    color: aliceblue;
    text-align: center;
    top: 10px;
    font-size: 20px;
    list-style: none;
}
.jbox{
    box-sizing: border-box;
    position: relative;
    width: 715px;
    height: 543px;
    left: 380px;
    top: 70px;
    background: #FFFFFF;
    border: 1px solid #7A05D6;
    box-shadow: 0px 0px 39px 13px rgba(122, 5, 214, 0.17);
    border-radius: 21px;
    max-width: 50%;
}
.jtext{
    text-align: center;
    font-size: 35px;
    padding-top: 40px;
    font-weight: 500;
}
.jpara{
    text-align: center;
    font-size: 25px;
    padding-top: 50px;
    padding: 30px;
}
.quote{
    font-weight: 500;
    font-size: 30px;
    padding: 30px;
    padding-left: 140px;
    text-align: center;
    max-width: 60%;
}
.join{
    position:absolute;
    width: 175px;
    height: 57px;
    left: 36%;
    top: 450px;
    background: #7B04F1;
    box-shadow: 0px 14px 64px 27px rgba(128, 0, 255, 0.22), inset 0px 0px 24px 16px rgba(184, 114, 255, 0.59);
    border-radius: 20px;

}
.bjoin{
    position: relative;
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
    font-size: 25px;
}
.start{
    font-size: 35px;
    position: relative;
    margin-top: 180px;
    margin-left: 450px;  
}
.start2{
    display: none;
}.t1{
    padding: 100px;
}
.phy{
    box-sizing: border-box;
    position: relative;
    width: 531px;
    height: 659px;
    margin-left: 200px;
    margin-top: 100px;
    background: #FFFFFF;
    border: 1px solid #0057FF;
    box-shadow: 0px 0px 39px 7px rgba(0, 87, 255, 0.18);
    border-radius: 29px;
}
.ptext{
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
.p1{
    padding: 20px;
    padding-bottom: 0      ;
}
.p1d{
    position:relative;
    padding-top: -100;
    padding-left: 20px;
    text-decoration: none;
}
.che{
    
    box-sizing: border-box;
    position: absolute;
    width: 531px;
    height: 659px;
    margin-left: 800px;
    margin-top: -659px;
    background: #FFFFFF;
    border: 1px solid #00ff2a;
    box-shadow: 0px 0px 39px 7px rgba(0, 255, 34, 0.116);
    border-radius: 29px;
}

.ctext{
    
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
.math{
    
    box-sizing: border-box;
    position: relative;
    width: 531px;
    height: 659px;
    margin-left: 200px;
    margin-top: 100px;
    background: #FFFFFF;
    border: 1px solid #000000;
    box-shadow: 0px 0px 39px 7px rgba(0, 0, 0, 0.116);
    border-radius: 29px;
}
.mtext{
    
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
.eng{
    
    box-sizing: border-box;
    position: relative;
    width: 531px;
    height: 659px;
    margin-left: 800px;
    margin-top:-659px;
    background: #FFFFFF;
    border: 1px solid #ff0000;
    box-shadow: 0px 0px 39px 7px rgba(255, 0, 0, 0.18);
    border-radius: 29px;
}
.etext{
    
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
.bcm{
    box-sizing: border-box;
    position: relative;
    width: 531px;
    height: 659px;
    margin-left: 200px;
    margin-top: 100px;
    background: #FFFFFF;
    border: 1px solid #ffbb00;
    box-shadow: 0px 0px 39px 7px rgba(255, 174, 0, 0.116);
    border-radius: 29px;
}
.btext{
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
.bee{
    box-sizing: border-box;
    position: relative;
    width: 531px;
    height: 659px;
    margin-left: 800px;
    margin-top:-659px;
    background: #FFFFFF;
    border: 1px solid #00f2ff;
    box-shadow: 0px 0px 39px 7px rgba(0, 195, 255, 0.18);
    border-radius: 29px;
}
.betext{
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
.eg{
    box-sizing: border-box;
    position: relative;
    width: 531px;
    height: 659px;
    margin-left: 500px;
    margin-top: 100px;
    background: #FFFFFF;
    border: 1px solid #8400ff;
    box-shadow: 0px 0px 39px 7px rgba(132, 0, 255, 0.116);
    border-radius: 29px;
}
.egtext{
    text-align: center;
    font-size: 30px;
    padding-top: 20px;
}
.upbg{
    position: relative;
    width: 1519px;
    height: 600px;
    left: 0px;
    top: 200px;
    background: #e4e4e4bb;
    
}
.uimg{
    width:800px;

}
.suma{
    position: absolute;
    top: 1750px;
    left: 500px;
    text-align: center;
}
.uphead{
    position: absolute;
    font-size: 35px;
    top: 60px;
    right: 140px;
}
.up2head{
    display: none;
}
.mat{
    position: absolute;
    top: 200px;
    right: 200px;
    line-height: 50px;
    font-size: 20px;
}
.emil{
    position: absolute;
    top: 200px;
    right: 400px;
    font-size: 27px;
    font-weight: 500;
    padding-left: 50px;
}
.quote2{
    position: absolute;
    top: 430px;
    right: 300px;
    line-height: 50px;
    font-size: 30px;
    font-weight: 600;
}
.quote3{
    display: none;
}
.note2{
    display: none;
}
.for{
    position: absolute;
    top: 250px;
    right: 140px;
    line-height: 50px;
    font-size: 25px;
    font-weight: 400;
    line-height: 40px;
}
.contact{
    position: absolute;
    width: 155px;
    height: 47px;
    right: 650px;
    top: 350px;
    background: #0513d6;
    box-shadow: -3px 2px 19px 5px rgba(33, 5, 214, 0.28);
    border-radius: 19px;
}
.cont{
    position: relative;
    color: aliceblue;
    text-align: center;
    padding-top: 10px;
    font-size: 15px;
}
.note{
    position: absolute;
    left: 30%;
    color: #9a9a9a;
}
.for2{
    display: none;
}
.email2{
    display: none;
}
.fq{
    position:relative;
    text-align: center;
    top: 90px;
    font-size: 45px;
}

.name{
    position: absolute;
    width: 404px;
    height: 70px;
    left: 200px;
    top: 600px;
    background: #FFFFFF;
    border: 2px solid #8400ff;
    box-shadow: 0px 0px 39px 7px rgba(132, 0, 255, 0.116);
    font-size: 20px;
    color: aliceblue;
    text-align: center;
}

.email{
    position: absolute;
    width: 404px;
    height: 70px;
    left: 650px;
    top: 600px;
    background: #FFFFFF;
    border: 2px solid #8400ff;
    box-shadow: 0px 0px 39px 7px rgba(132, 0, 255, 0.116);
    background: rgb(255, 255, 255);
    font-size: 20px;
    text-align: center;
    color: aliceblue;
         
}

.sub{
    position: absolute;
    width: 855px;
    height: 70px;
    left: 200px;
    top: 720px;
    background: rgb(255, 255, 255);
    border: #ffffff;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
    background: #FFFFFF;
    border: 2px solid #8400ff;
    box-shadow: 0px 0px 39px 7px rgba(132, 0, 255, 0.116);
    
}

.mssag{
    position: absolute;
    width: 855px;
    height: 245px;
    left: 200px;
    top: 840px;
    background: #FFFFFF;
    border: 2px solid #8400ff;
    box-shadow: 0px 0px 39px 7px rgba(132, 0, 255, 0.116);
    text-align: center;
    font-size: 20px;
    text-align: center;
    color: aliceblue;
}

.send{
    position: absolute;
    width: 200px;
    height: 58px;
    left: 210px;
    top: 1150px;
    color: rgb(255, 255, 255);
    background: #7B04F1;
    box-shadow: 0px 14px 64px 27px rgba(128, 0, 255, 0.22), inset 0px 0px 24px 16px rgba(184, 114, 255, 0.59);
    border-radius: 34px;
    border: none;
    font-size: 22px;
    align-items: center;
    text-align: center;
    
      
}
.send:hover{
    border-color: yellow;
    border-style: solid;
    border-width: 1px;
}
.form{
    position: absolute;
    top: 100px;
    left: 70px;
}
.ig{
    position :absolute;
    width: 107px;
    top: 1641px;
    left: 550px;
}
.iw{
    position :absolute;
    width: 42px;
    top: 1650px;
    left: 720px;
}
.it{
    position :absolute;
    width: 42px;
    top: 1650px;
    left: 850px;
}
.or{
    position: relative;
    top: 800px;
    left: 0px;
    line-height: 60px;
    text-align: center;
    font-size: 30px;
}

@media screen and (max-width :850px){
    .img2{
        width:350px;
        margin-left:10px;
        margin-top: 170px;
        position: relative;
        display: flex;
    }
    .imgl{
        display: none;
    }
    .title{
        margin-top: 20px;
        margin-left: 20px;
        font-size: 30px;
        color: rgb(39, 0, 124);
    }
    .span{
        font-size: 26px;
        color: black;
    }
    .para{
        position: relative;
        display: flex;
        font-size: 19px;
        font-weight: 550;
        margin-right: -300px;
        padding-left: 20px;
        padding-top: 30px;
        max-width: 90%;
        margin-bottom: -100px;
        
    }
    .see{
        position: absolute;
        width: 135px;
        height: 40px;
        left: 24px;
        top: 170px;
        background: #7B04F1;
        box-shadow: 0px 7px 54px 17px rgba(128, 0, 255, 0.22), inset 0px 0px 24px 16px rgba(184, 114, 255, 0.59);
        border-radius: 34px;
     
    }
    .more{
        position: relative;
        color: aliceblue;
        text-align: center;
        top:8px;
        font-size: 17px;
    }
    
    .jbox{
        box-sizing: border-box;
        position: relative;
        width: 400px;
        height: 450px;
        left: 0%;
        margin: 10px;
        top: 54px;
        background: #FFFFFF;
        border: 1px solid #7A05D6;
        box-shadow: 0px 0px 39px 13px rgba(122, 5, 214, 0.17);
        border-radius: 21px;
        max-width: 94%;
        flex: 1;
        flex-wrap: wrap;
    }
    .jtext{
        font-size: 25px;
        padding: 10px;
    }
    .jpara{
        font-size: 20px;
        padding: 10px;
    }
    .quote{
        font-size: 22px;
        padding-left: 37px;
        max-width: 100%;
    }
    .bjoin{
        position: relative;
        color: aliceblue;
        text-align: center;
        padding-top: 10px;
        font-size: 20px;
        
    }
    .join{
        position: absolute;
        width: 155px;
        height: 47px;
        left: 25%;
        top: 350px;
        background: #7B04F1;
        box-shadow: 0px 7px 54px 17px rgba(128, 0, 255, 0.22), inset 0px 0px 24px 16px rgba(184, 114, 255, 0.59);
        border-radius: 20px;
    
    }
    .start{
        position: relative;
        font-size: 20px;
        left: -300px;
        top: -70px;
        justify-content: right;
        display: none;
    }
    .start2{
        font-size: 19px;
        position: relative;
        top: 90px;
        text-align: center;
        font-weight: 600;
        display: block;
    }
    .phy{
        width: 338px;
        height: 450px;
        left: 0%;
        margin: 10px;
        top: 130px;
        position: relative;

    }
    .ptext{
        font-size: 20px;
    }
    .che{
        width: 338px;
        height: 450px;
        left: 0%;
        margin: 10px;
        top: 150px;
        position: relative;
    }
    .ctext{
        font-size: 20px;
    }
    .math{
        width: 338px;
        height: 450px;
        left: 0%;
        margin: 10px;
        top: 170px;
        position: relative;
    }
    .mtext{
        font-size: 20px;
    }
    .eng{
        width: 338px;
        height: 450px;
        left: 0%;
        margin: 10px;
        top: 190px;
        position: relative;
    }
    .etext{
        font-size: 20px;
    }
    .bcm{
        width: 338px;
        height: 440px;
        left: 0%;
        margin: 10px;
        top: 220px;
        position: relative;
    }
    .btext{
        font-size: 20px;
    }
    .bee{
        width: 338px;
        height: 450px;
        left: 0%;
        margin: 10px;
        top: 250px;
        position: relative;
    }
    .betext{
        font-size: 20px;
    }
    .eg{
        width: 338px;
        height: 450px;
        left: 0%;
        margin: 10px;
        top: 270px;
        position: relative;
    }
    .egtext{
        font-size: 20px;
    }
    .upbg{
        position: relative;
        left: 0;
        top: 350px;
        width: 360px;
    }
    .uimg{
        position: relative;
        width: 380px;
        top: 100px;
        
        
    }
    .uphead{
        display: none;
        padding-left: 20px;
    }
    .up2head{
        position: absolute;
        font-size: 18px;
        top: 20px;
        text-align: center;
        left: 10px;
        display: block;
    }
    
    .contact{
        display: block;
        position: relative;
        width: 135px;
        height: 37px;
        left: 33%;
        top: 100px;
        background: #0513d6;
        box-shadow: -3px 2px 19px 5px rgba(33, 5, 214, 0.28);
        border-radius: 19px;
    }
    .cont{
       position: relative;
       color: aliceblue;
       text-align: center;
       padding-top: 4px;
       font-size: 20px;

    }
    .for{
        display: none;
    }
    .for2{
        display: block;
        font-size: 17px;
        font-weight: 500;
        position: relative;
        top: 80px;
        padding-left: 20px;
    }
    .email2{
        display: block;
        position: absolute;
        top: 80px;
        font-size: 16px;
        font-weight: 500;
        padding-left: 55px;
    
    }
    
    .quote3{
        position: relative;
        font-size: 20px;
        top: 260px;
        padding-left: 39px;
        display: block;
    }
    .quote2{
        display: none;
    }
    .note{
        display: none;
    }
    .note2{
        display: block;
        padding-top: 46%;
        font-size: 8px;
        padding-right: 12px;
        max-width: 100%;
        text-align: center;
    }
    .fq{
        font-size: 25px;
        position: relative;
        top: 40px;
    }
    .name{
        width: 300px;
        height: 40px;
        font-size: 15px;
        margin-left: -186px;
        margin-top: 220px;
    }
    .email{
        margin-top: 280px;
        width: 300px;
        height: 40px;
        font-size: 15px;
        margin-left: -635px;
    }
    .sub{
        width: 300px;
        height: 40px;
        font-size: 15px;
        margin-left: -186px;
        margin-top: 220px;
    }
    .sub:hover{
        border-color: #FAFF00;
        border-width: 0.1px;
        border-style: solid;
        box-shadow: 0px 0px 59px 14px rgba(250, 255, 0, 0.07), inset 0px 4px 28px 17px rgba(0, 0, 0, 0.15);
    }
    .mssag{
        width: 300px;
        height: 90px;
        font-size: 15px;
        margin-left: -186px;
        margin-top: 160px;
    }
    .send{
        margin-top: -40px;
        margin-left: -183px;
        width: 140px;
        height: 37px;
        font-size: 15px;
    }
    .form{
        position: absolute;
        top: -50px;
        left: 6px;
    }
    .suma{
        position: absolute;
        top: 1300px;
        left: 5px;
        text-align: center;
        font-size: 10px;
    }
    .ig{
        position :absolute;
        width: 70px;
        top: 1200px;
        left: 50px;
    }
    .iw{
        position :absolute;
        width: 30px;
        top: 1205px;
        left: 160px;
    }
    .it{
        position :absolute;
        width: 30px;
        top: 1206px;
        left: 250px;
    }
    .or{
        position: relative;
        top: 450px;
        left: 0px;
        line-height: 30px;
        text-align: center;
        font-size: 16px;
    }

}